body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#intro, header {
    background: url(./images/tsukada-kazuhiro-cruise-ship.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 500px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    flex-wrap: wrap;
    height: 100px;
}

.logo {
    display: flex;
}

.logo h2 {
    display: flex;
    font-size: 32px;
    color: white;
    font-style: italic;
    margin-left: 20px;
}

.logo img {
    height: 80px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    gap: 24px;
    margin-right: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #a3c4f9;
}

#intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 900px;
}

#welcome {
    margin-left: 40px;
    flex-wrap: wrap;
    width: 40%;
    min-width: 300px;
}


#welcome h1 {
    font-size: 48px;
}

#welcome button {

}

#activities {
    background-color: black;
    color: white;
    
}

.card {
    max-width: 300px;
}

footer {
    background-color: grey;
}