body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 16px;
}

.logo {
    display: flex;
}

nav ul {
    display: flex;
    gap: 24px;
}

#hero {
    background-image: url(./images/tsukada-kazuhiro-cruise-ship.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}